body {
  padding: 0;
  margin: 0 auto;
  min-width: 360px;
  font-size: 15px;
  line-height: 30px;
  font-family: "roboto", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  min-width: 360px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
    margin: 0 auto;
    min-width: 768px;
    position: relative;
  }
}
@media (min-width: 1586px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 1586px;
    position: relative;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "lobster";
  src: url("../fonts/Lobster.woff2") format("woff2"), url("../fonts/Lobster.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
.title {
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #E37209;
  text-shadow: 2px 0 2px #7A3B00, 0 2px 2px #7A3B00, -2px 0 2px #7A3B00, 0 -2px 2px #7A3B00;
  position: relative;
  z-index: 2;
}
.text {
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4F4F4F;
}
.header,
.header__bg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.header__bg {
  background: url("../img/bg.svg") no-repeat calc(100% + 156px) calc(100% + 159px);
  overflow: hidden;
  padding-top: 1px;
  padding-bottom: 100px;
}
.header {
  margin-left: 20px;
  margin-right: 20px;
}
.header__foto {
  width: 227px;
  height: 227px;
  margin-top: 24px;
  position: relative;
  z-index: 1;
  -ms-flex-item-align: center;
      align-self: center;
}
.header__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__block:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 43px;
  width: 320px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.header__block--img::before {
  content: "";
  display: block;
  background: url("../img/ball-m.png") no-repeat;
  width: 566px;
  height: 566px;
  position: absolute;
  top: -355px;
  right: calc(100% - 754px);
}
@media (min-width: 768px) {
  .header__bg {
    background: url(../img/bg-d.svg) no-repeat 75% 100%;
    padding-bottom: 175px;
  }
  .header__block--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__block--img::before {
    right: calc(100% - 1100px);
  }
  .header__text {
    width: 570px;
  }
  .header__foto {
    margin-left: 30px;
  }
}
@media (min-width: 1110px) {
  .header__foto {
    width: 364px;
    height: 364px;
  }
  .header__block:nth-child(2) {
    margin-top: -74px;
    margin-left: calc(1% + 74px);
  }
  .header__block .sms {
    margin-top: -25px;
  }
  .header__text {
    font-size: 18px;
    line-height: 21px;
    margin-top: 35px;
  }
  .header__block--left {
    margin-left: calc(1% + 384px);
  }
  .header__block--img::before {
    width: 748px;
    height: 740px;
    background-size: contain;
    top: -525px;
    right: calc(100% - 1476px);
  }
}
@media (min-width: 1586px) {
  .header__bg {
    background-size: cover;
  }
  .header__foto {
    margin-left: 0;
  }
}
.logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.logo__title {
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-shadow: 2px 0 2px #7A3B00, 0 2px 2px #7A3B00, -2px 0 2px #7A3B00, 0 -2px 2px #7A3B00;
  position: relative;
  z-index: 2;
  font-size: 96px;
  line-height: 51px;
  color: #E37209;
  margin-top: 37px;
  margin-bottom: 9px;
}
.logo__title span {
  font-size: 72px;
  line-height: 72px;
  line-height: normal;
  margin-left: 7px;
}
.logo__description {
  font-size: 26px;
  line-height: 30px;
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4F4F4F;
}
@media (min-width: 768px) {
  .logo__description br {
    display: none;
  }
}
@media (min-width: 1110px) {
  .logo__title {
    font-size: 180px;
    line-height: 87px;
    margin-top: 85px;
    margin-left: calc(1% + 100px);
  }
  .logo__title span {
    font-size: 100px;
    margin-left: calc(1% + 90px);
  }
  .logo__description {
    font-size: 36px;
    margin-left: calc(1% + 100px);
  }
}
@media (min-width: 1586px) {
  .logo__title {
    margin-left: calc(1% + 172px);
  }
  .logo__title span {
    margin-left: calc(1% + 161px);
  }
  .logo__description {
    margin-left: calc(1% + 172px);
  }
}
.sms {
  height: auto;
  position: relative;
  border-radius: 15px;
  border-top-right-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
.sms__margin {
  margin-top: -15px;
}
.sms--revers {
  margin-right: 0;
  margin-left: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
}
.sms--width300 {
  width: 300px;
}
.sms--width250 {
  width: 250px;
}
.sms--width275 {
  width: 275px;
}
.sms--width290 {
  width: 290px;
}
.sms--white {
  background-color: #ffffff;
}
.sms--orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#F2994A), to(#E37209));
  background: linear-gradient(180deg, #F2994A 0%, #E37209 100%);
}
.sms--orange::before {
  background: #F2994A;
}
.sms--green {
  background: -webkit-gradient(linear, left top, left bottom, from(#27AE60), color-stop(84.89%, #219653));
  background: linear-gradient(180deg, #27AE60 0%, #219653 84.89%);
}
.sms--green::before {
  background: #27AE60;
}
.sms::after {
  background: #ffffff;
}
.sms::after,
.sms::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}
.sms--white::after {
  background-color: #b3e4ff;
}
.sms::after {
  border-top-left-radius: 100%;
  top: 1px;
}
.sms--revers::after {
  border-top-left-radius: 0;
  border-top-right-radius: 100%;
  top: 1px;
}
.sms--right::after {
  right: -20px;
}
.sms--left::after {
  left: -20px;
}
.sms--white::before {
  background: #ffffff;
}
.sms::before {
  top: 0;
}
.sms--right::before {
  right: -19px;
}
.sms--left::before {
  left: -19px;
}
.sms--position-left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.sms--position-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.sms__text {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  margin: 17px 21px 21px;
}
.sms__text--size {
  font-size: 18px;
  line-height: 21px;
}
.sms__text--margin {
  margin: 21px 21px 26px 26px;
}
.sms__text--black {
  color: #333333;
}
.sms__text--white {
  color: #ffffff;
}
@media (min-width: 1110px) {
  .sms--width300 {
    width: 480px;
  }
  .sms__text {
    font-size: 24px;
    line-height: 28px;
    margin: 30px 35px;
  }
  .sms--width250 {
    width: 470px;
  }
  .sms--width275,
  .sms--width290 {
    width: 640px;
  }
}
@media (min-width: 1586px) {
  .sms {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .sms--position-right {
    margin-right: 187px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
.history {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 28px;
  padding-bottom: 34px;
}
.history__text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 36px;
  margin-bottom: 35px;
  max-width: 570px;
}
.history__text a {
  color: #1287E2;
  text-decoration: underline;
}
.history__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .history__text {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (min-width: 1110px) {
  .history__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 1586px) {
  .history {
    padding-bottom: 65px;
  }
  .history__text {
    margin-left: 120px;
  }
}
.action,
.action__bg {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.action__bg {
  background: url("../img/bg2.svg") no-repeat;
  background-size: auto;
  background-position: -202px top;
}
.action {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1px;
  padding-bottom: 65px;
}
.action__title {
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #E37209;
  text-shadow: 2px 0 2px #7A3B00, 0 2px 2px #7A3B00, -2px 0 2px #7A3B00, 0 -2px 2px #7A3B00;
  position: relative;
  z-index: 2;
  font-size: 72px;
  line-height: 68px;
  text-align: center;
  margin-top: 83px;
  margin-bottom: 32px;
}
.action__text {
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4F4F4F;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 10px;
}
@media (min-width: 470px) {
  .action__bg {
    background-size: cover;
    background-position: center top;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .action__bg {
    background: url(../img/bg22.svg) no-repeat top center;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 45px;
  }
}
@media (min-width: 1110px) {
  .action__bg {
    padding-top: 67px;
  }
  .action {
    padding-bottom: 90px;
  }
  .action__title {
    font-size: 100px;
    margin-top: 135px;
    margin-bottom: 55px;
  }
  .action__text {
    font-size: 48px;
    margin-bottom: 35px;
    margin-top: 38px;
  }
  .action__text br {
    display: none;
  }
}
.tm {
  width: 318px;
  min-height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1287E2), to(#0071BB));
  background: linear-gradient(180deg, #1287E2 0%, #0071BB 100%);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tm__name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-left: 70px;
  padding-top: 5px;
  position: relative;
  text-transform: uppercase;
}
.tm__name::before {
  content: "";
  width: 51px;
  height: 44px;
  display: block;
  background: url("../img/tm.svg") no-repeat;
  position: absolute;
  left: -9px;
  top: -6px;
}
.instruction {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1px;
  padding-bottom: 30px;
}
.instruction__block,
.instruction__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instruction__text {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 10px;
}
.instruction__text .desktop {
  display: none;
}
.instruction__img {
  width: 344px;
  height: 665px;
}
.instruction__img--horizon {
  width: 665px;
  height: 344px;
  margin-top: -5px;
}
.instruction__scroll__hidden {
  height: 344px;
  overflow: hidden;
  margin-bottom: 10px;
}
.instruction__scroll {
  width: 100vw;
  height: 354px;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.instruction__arrow {
  width: 66px;
  height: 63px;
  background: url("../img/arrow-d.svg") no-repeat top center;
  background-size: contain;
}
.instruction__block2 .sms {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .instruction__scroll {
    width: 665px;
  }
  .instruction__text {
    max-width: 685px;
  }
}
@media (min-width: 1110px) {
  .instruction__text .mobile {
    display: none;
  }
  .instruction__text .desktop {
    display: inline;
  }
  .instruction__text {
    font-size: 36px;
    line-height: 42px;
    margin-top: 103px;
    margin-bottom: 87px;
  }
  .instruction__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  .instruction__block2 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .instruction__arrow {
    width: 130px;
    height: 130px;
    background: url("../img/arrow.svg") no-repeat;
    background-size: contain;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: absolute;
    top: 14px;
    left: calc(100% - 680px);
  }
  .instruction__block2 .sms {
    margin-right: 50px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1586px) {
  .instruction {
    padding-bottom: 106px;
  }
  .instruction__img {
    width: 400px;
    height: 770px;
  }
  .instruction__scroll__hidden,
  .instruction__scroll,
  .instruction__img--horizon {
    width: 770px;
    height: 400px;
  }
  .instruction__arrow {
    width: 230px;
    height: 230px;
    top: 34px;
    left: calc(100% - 784px);
  }
}
.footer__bg {
  background: url("../img/euro.png") no-repeat 34% 132%, url("../img/bg2.svg") no-repeat top center;
}
.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-top: 32px;
  padding-bottom: 217px;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title {
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #E37209;
  text-shadow: 2px 0 2px #7A3B00, 0 2px 2px #7A3B00, -2px 0 2px #7A3B00, 0 -2px 2px #7A3B00;
  position: relative;
  z-index: 2;
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 28px;
}
.footer__text {
  font-family: "lobster", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4F4F4F;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
}
.footer__text--desktop {
  display: none;
}
@media (min-width: 768px) {
  .footer__bg {
    background: url("../img/bg2.svg") no-repeat top center;
    background-size: cover;
  }
  .footer {
    background: url("../img/euro.png") no-repeat 50% 150%;
  }
}
@media (min-width: 1110px) {
  .footer__bg {
    padding-top: 100px;
  }
  .footer__text--desktop {
    display: block;
    margin: 0;
  }
  .footer__title {
    font-size: 72px;
    line-height: 90px;
    margin-top: 15px;
    margin-bottom: 37px;
  }
}
@media (min-width: 1586px) {
  .footer {
    background: url("../img/euro2.png") no-repeat 155px 220px;
    padding-top: 97px;
    padding-bottom: 128px;
  }
}
