div.action__bg
  div.container
    section.action
      h2.action__title Хочешь денег?
      p.action__text Подписывайся<br> на канал 
      a(href="#").tm
        p.tm__name ВОЛОДЯ СТАВИТ
      p.action__text и повторяй!
