div.footer__bg
  div.container
    footer.footer
      p.footer__text.footer__text--desktop Ставь со мной и увольняйся уже из своего офиса!!!
      h2.footer__title Всем бабла!
      a(href="#").tm
        p.tm__name Подписаться
