div.header__bg
  div.container
    section.header
      div.header__block
        a(href="index.html").logo
          h1.logo__title Ставь<br> 
            span с Володей!
          span.logo__description Заработай под руководством<br> эксперта
      div.header__block.header__block--img.header__block--flex
        img(src="img/foto.png" alt="фото Володи").header__foto
        div.sms.sms--width300.sms--right.sms__margin.sms--white
          p.sms__text.sms__text--black Привет!<br> Я Володя и я помогу тебе<br> вырваться из офисного рабства.
      div.header__block.header__block--flex.header__block--left
        p.header__text Когда-то я увлекался волейболом. Выигрывал кубки, был гордостью команды. Но прорваться в большой спорт не так просто – после армии пришлось устроиться менеджером. Работал за 15.000 в месяц, жрал гречку, потом женился, залез в кредиты… Жена пилила: хочу шубу как у Людки, хочу с девочками бухать, что ли ты не мужик…
