div.container
  section.history
    h2.visually-hidden Моя история
    div.history__block
      div.sms.sms--right.sms--width250.sms--orange.sms--position-left
        p.sms__text.sms__text--white Я – мужик.<br> И я разбираюсь в волейболе. 
      p.history__text Я стал делать ставки на спорт в <a href="#">Glavbet</a> и уже через несколько дней смог уволиться! 
    div.sms.sms--revers.sms--left.sms--width275.sms--green.sms--position-right
      p.sms__text.sms__text--margin.sms__text--white Через неделю закрыл свои кредиты и через месяц купил новую тачку!
