div.container
  section.instruction
    h2.visually-hidden Инструкция
    p.instruction__text Всё просто:<br class="mobile"> я кидаю скрин ставки,<br class="desktop"> ты делаешь то же самое и выигрываешь вместе со мной:
    div.instruction__block
      img(src="img/iPhone.png" alt="шаг 1").instruction__img
      span.instruction__arrow
      div.instruction__block2
        div.instruction__scroll__hidden
          div.instruction__scroll
            img(src="img/iPhone2.png" alt="шаг 2").instruction__img.instruction__img--horizon
        div.sms.sms--revers.sms--left.sms--width290.sms--green.sms--position-right
          p.sms__text.sms__text--size.sms__text--white * Тебе не обязательно заходить с крупных ставок. Ставь сколько хочешь – выигрыш будет пропорционален моему.
